.logo {
  color: $accent;
  text-decoration: none;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.header-logo {
  margin-right: 93px;
}
.logo-header {
  color: $primary-text-cl;
}
.logo-footer {
  color: $white;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
