$primary-text-cl: #212121;
$second-text-cl: #757575;
$footer-contact-text: rgba(255, 255, 255, 0.6);
$accent: #2196f3;
$white: #ffffff;
$dark-bg: #2f303a;
$team-bg: #f5f4fa;
$icon-gray: #afb1b8;
$icon-dark: rgba(255, 255, 255, 0.1);
$modal-bg: rgba(0, 0, 0, 0.2);
$black: #000000;
$black-border: rgba(0, 0, 0, 0.1);
$hover-button: #188ce8;
$form-border: rgba(33, 33, 33, 0.2);
$textarea: rgba(117, 117, 117, 0.5);
$portfolio-overlay: rgba(33, 150, 243, 0.9);
$header-border: #ececec;
